<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {% include "header.njk" %}
  <main>{{ content | safe }}</main>
  <hr>
  <aside>
    <h2>Categorías</h2>
    <h3>Dinosaurios</h3>
    <ul>
      {% for article in collections.dinosaurios %}
        <li><a href="{{article.url}}">{{article.data.title}}</a></li>
      {% endfor %}
    </ul>
    <h3>Otros animales</h3>
    <ul>
      {% for article in collections.otrosanimales %}
        <li><a href="{{article.url}}">{{article.data.title}}</a></li>
      {% endfor %}
    </ul>
  </aside>
  {% include "footer.njk" %}
  <script src="/js/main.js"></script>

</body>
</html>