<nav class="menu">
  <ul class="list">
    <li class="list-item"><a href="/triceratops">Triceratops</a></li>
    <li class="list-item"><a href="/t-rex">T-rex</a></li>
    <li class="list-item"><a href="/about">Acerca de...</a></li>
    <li class="list-item"><a href="/">Inicio</a></li>
  </ul>
</nav>